<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DinerMax3000.Business.Properties.Settings.DInerMax3000ConnectionString"
            connectionString="Data Source=JAKDELL;Initial Catalog=DInerMax3000;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>