<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DinerMax3000.Business.Properties.Settings.DInerMax3000ConnectionString"
        connectionString="Data Source=JAKDELL;Initial Catalog=DInerMax3000;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>